@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
/*! Styles for hiding scrollbar  */
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .reset {
    @apply rounded-lg px-2 py-2 text-xs bg-black hover:bg-red-700 transition-all duration-1000 ease-in-out  text-gray-100;
  }
  .navbar {
    @apply p-2 flex gap-1 items-center justify-center hover:bg-[#E53935] hover:text-black transition-all duration-500 ease-in-out 
     text-sm xl:text-base font-semibold;
  }
  .miniTitle {
    @apply flex justify-center items-center gap-1 text-gray-700 dark:text-[#9CAAB3] font-medium tracking-wide text-sm md:text-base
  }
  .subTitle {
    @apply  dark:text-[#9CAAB3] font-semibold dark:font-medium tracking-wide text-sm md:text-base xl:text-xl
  }
   .searchBar{
    @apply w-20 md:w-full p-1 md:p-1.5 rounded-lg  border-[1px] bg-[#F5F7FB] text-gray-700 border-gray-200
    focus:text-gray-700 focus:outline-gray-100 text-sm placeholder:text-[10px] 
    md:placeholder:text-xs tracking-widest placeholder:font-medium
  }
  
}
