@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .reset {
    @apply rounded-lg px-4 py-2 bg-gray-900 text-gray-100;
  }
  .navbar {
    @apply p-2 flex gap-1 items-center justify-center hover:bg-white hover:text-black transition-all duration-200 ease-in-out 
    hover:animate-pulse rounded-md text-sm xl:text-base font-semibold;
  }
}
